<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.adamkaplun.alfred-aws-granted</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0D0E2E6C-8D38-41A4-941A-622234DABD2D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C0A9E5D9-BFB2-448B-8FB7-85BD6BC0B4E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2176B3B9-B2FF-4135-9BE0-513BCA51B8E3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>85AC20BC-D51E-46AC-8ABD-E0DB823D7C81</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string>Select Service</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F8975ED8-010C-454A-ACA7-486DF520DEE8</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open Console Home</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>923942F2-5BE0-4267-93EA-1B2B30CE3B68</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string>Select Region</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CE892C23-EC9A-412D-902E-E20666251003</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open Console Home (us-east-2)</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>43F2A218-98C6-41D6-9C4E-8A84FC3F4630</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CE892C23-EC9A-412D-902E-E20666251003</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>85AC20BC-D51E-46AC-8ABD-E0DB823D7C81</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C0A9E5D9-BFB2-448B-8FB7-85BD6BC0B4E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>923942F2-5BE0-4267-93EA-1B2B30CE3B68</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2176B3B9-B2FF-4135-9BE0-513BCA51B8E3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BCF9D88B-14B0-4B42-AE3C-411695BDC870</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C0A9E5D9-BFB2-448B-8FB7-85BD6BC0B4E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C0A9E5D9-BFB2-448B-8FB7-85BD6BC0B4E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>43F2A218-98C6-41D6-9C4E-8A84FC3F4630</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CE892C23-EC9A-412D-902E-E20666251003</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F8975ED8-010C-454A-ACA7-486DF520DEE8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CE892C23-EC9A-412D-902E-E20666251003</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>kapal0ne</string>
	<key>description</key>
	<string>Use Granted to open AWS Console with fuzzy profile and service search</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>AWS Console Granted (Go)</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading Profiles...</string>
				<key>script</key>
				<string>./scripts/list-profiles.sh "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>AWS Profile To Use</string>
				<key>title</key>
				<string>Open AWS Console</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>profile</key>
					<string>{query}</string>
					<key>region</key>
					<string>{var:region}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>BCF9D88B-14B0-4B42-AE3C-411695BDC870</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading Services...</string>
				<key>script</key>
				<string>./scripts/list-services.sh "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Service</string>
				<key>title</key>
				<string>Select AWS Service</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C0A9E5D9-BFB2-448B-8FB7-85BD6BC0B4E1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>profile</key>
					<string>{var:profile}</string>
					<key>region</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>85AC20BC-D51E-46AC-8ABD-E0DB823D7C81</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:profile},{query},{var:region}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>43F2A218-98C6-41D6-9C4E-8A84FC3F4630</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./scripts/open-console.sh "$1" "$2" "$3"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>profile</key>
					<string>{var:profile}</string>
					<key>region</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0D0E2E6C-8D38-41A4-941A-622234DABD2D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading Regions...</string>
				<key>script</key>
				<string>./scripts/list-regions.sh "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Region</string>
				<key>title</key>
				<string>Select AWS Region</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2176B3B9-B2FF-4135-9BE0-513BCA51B8E3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>,</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>1</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>CE892C23-EC9A-412D-902E-E20666251003</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>profile</key>
					<string>{query}</string>
					<key>region</key>
					<string>us-east-2</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>923942F2-5BE0-4267-93EA-1B2B30CE3B68</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>argument</key>
					<string>{var:profile},,{var:region}</string>
					<key>passthroughargument</key>
					<false/>
					<key>variables</key>
					<dict>
						<key>profile</key>
						<string>{var:profile}</string>
						<key>region</key>
						<string>{query}</string>
					</dict>
				</dict>
				<key>type</key>
				<string>alfred.workflow.utility.argument</string>
				<key>uid</key>
				<string>F8975ED8-010C-454A-ACA7-486DF520DEE8</string>
				<key>version</key>
				<integer>1</integer>
			</dict>
	</array>
	<key>readme</key>
	<string>Open the AWS Console via Granted with fuzzy search
- Type `aws` to fuzzy-search AWS profiles
- Select a region (default: us-east-2), then choose a service
- Use ⌘ on profile or region to open Console Home</string>
	<key>uidata</key>
	<dict>
		<key>0D0E2E6C-8D38-41A4-941A-622234DABD2D</key>
		<dict>
			<key>xpos</key>
			<real>505</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>16039760-F173-4AB8-9C73-DA7401D5DE23</key>
		<dict>
			<key>xpos</key>
			<real>975</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>2176B3B9-B2FF-4135-9BE0-513BCA51B8E3</key>
		<dict>
			<key>xpos</key>
			<real>285</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>2C99F6F1-EF16-4CF1-9762-5D05A1FFAA4D</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>43F2A218-98C6-41D6-9C4E-8A84FC3F4630</key>
		<dict>
			<key>xpos</key>
			<real>780</real>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>85AC20BC-D51E-46AC-8ABD-E0DB823D7C81</key>
		<dict>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>923942F2-5BE0-4267-93EA-1B2B30CE3B68</key>
		<dict>
			<key>xpos</key>
			<real>200</real>
			<key>ypos</key>
			<real>345</real>
		</dict>
		<key>BCF9D88B-14B0-4B42-AE3C-411695BDC870</key>
		<dict>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
		<key>C0A9E5D9-BFB2-448B-8FB7-85BD6BC0B4E1</key>
		<dict>
			<key>xpos</key>
			<real>625</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>CE892C23-EC9A-412D-902E-E20666251003</key>
		<dict>
			<key>xpos</key>
			<real>890</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>F8975ED8-010C-454A-ACA7-486DF520DEE8</key>
		<dict>
			<key>xpos</key>
			<real>555</real>
			<key>ypos</key>
			<real>420</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>aws</string>
				<key>placeholder</key>
				<string>aws</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keyword used to expand the list of AWS Profiles and start the workflow</string>
			<key>label</key>
			<string>Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword</string>
		</dict>
	</array>
	<key>version</key>
	<string>2.0.8</string>
	<key>webaddress</key>
	<string>https://github.com/sherifabdlnaby/alfred-aws-granted</string>
</dict>
</plist>
